W tym notatniku Jupyter skupimy się na podstawowej analizie danych pod kątem budowy modeli sztucznej inteligencji

In [1]:
#importowanie potrzebnych bibliotek do analizy i budoowy modelu
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#przedstawienie danych w postaci dataframe
dataframe = pd.read_csv('SalmonandSeaTroutNets1952-2022.csv')
dataframe.head(10)

,District,District ID,Report order,Region,Method,Year,Month,Month number,Wild MSW number,Wild MSW weight (kg),...,Wild 1SW weight (kg),Sea trout number,Sea trout weight (kg),Finnock number,Finnock weight (kg),Farmed MSW number,Farmed MSW weight (kg),Farmed 1SW number,Farmed 1SW weight (kg),Netting effort
0,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,February,2.0,107.0,400.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
1,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,February,2.0,6606.0,24856.9,...,0.0,453.0,705.8,0.0,0.0,0.0,0.0,0.0,0.0,31.0
2,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,March,3.0,185.0,703.1,...,0.0,13.0,21.3,0.0,0.0,0.0,0.0,0.0,0.0,10.0
3,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,March,3.0,7008.0,26151.9,...,0.5,848.0,1172.5,0.0,0.0,0.0,0.0,0.0,0.0,31.0
4,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,April,4.0,484.0,1912.3,...,0.0,14.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
5,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,April,4.0,4253.0,16522.1,...,5.4,1244.0,1413.4,0.0,0.0,0.0,0.0,0.0,0.0,31.0
6,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,May,5.0,754.0,3310.3,...,23.1,60.0,104.3,0.0,0.0,0.0,0.0,0.0,0.0,28.0
7,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,May,5.0,2370.0,9800.8,...,49.9,2689.0,3519.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0
8,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,June,6.0,461.0,2190.9,...,427.7,80.0,126.1,0.0,0.0,0.0,0.0,0.0,0.0,29.0
9,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,June,6.0,2157.0,9948.6,...,2695.2,7286.0,11079.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0

In [4]:
#wyświetlenie informacji o danych
print(dataframe.info())
print(dataframe.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23143 entries, 0 to 23142
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   District                23140 non-null  object
 1   District ID             23140 non-null  float64
 2   Report order            23140 non-null  float64
 3   Region                  23140 non-null  object
 4   Method                  23140 non-null  object
 5   Year                    23140 non-null  float64
 6   Month                   23140 non-null  object
 7   Month number            23140 non-null  float64
 8   Wild MSW number         23140 non-null  float64
 9   Wild MSW weight (kg)    23140 non-null  float64
 10  Wild 1SW number         23140 non-null  float64
 11  Wild 1SW weight (kg)    23140 non-null  float64
 12  Sea trout number        23140 non-null  float64
 13  Sea trout weight (kg)   23140 non-null  float64
 14  Finnock number          23140 non-null  float64
 15  Finnock weight (kg)     23140 non-null  float64
 16  Farmed MSW number       23140 non-null  float64
 17  Farmed MSW weight (kg)  23140 non-null  float64
 18  Farmed 1SW number       23140 non-null  float64
 19  Farmed 1SW weight (kg)  23140 non-null  float64
 20  Netting effort          23140 non-null  float64
dtypes: float64(17), object(4)
memory usage: 3.7+ MB
None
        District ID  Report order          Year  Month number  \
count  23140.000000  23140.000000  23140.000000  23140.000000
mean      56.267545     43.906828   1976.433794      6.028781
std       32.715546     35.787668     16.645369      1.793270
min        1.000000      1.000000   1952.000000      2.000000
25%       28.000000     10.000000   1963.000000      5.000000
50%       49.000000     30.000000   1975.000000      6.000000
75%       91.000000     81.000000   1987.000000      7.000000
max      109.000000    108.000000   2022.000000     11.000000

       Wild MSW number  Wild MSW weight (kg)  Wild 1SW number  \
count     23140.000000          23140.000000     23140.000000
mean        234.774503           1137.728384       346.497364
std         730.544329           3756.927117      1308.250523
min           0.000000              0.000000         0.000000
25%           4.000000             18.100000         0.000000
50%          30.000000            136.500000         8.000000
75%         161.000000            739.925000       152.000000
max       18942.000000         102188.000000     34633.000000

       Wild 1SW weight (kg)  Sea trout number  Sea trout weight (kg)  \
count          23140.000000      23140.000000           23140.000000
mean             881.932226        229.061538             258.005052
std             3426.441037       1026.370657            1306.411901
min                0.000000          0.000000               0.000000
25%                0.000000          0.000000               0.000000
50%               19.500000          6.000000               6.400000
75%              378.825000         49.000000              54.000000
max           103010.800000      26126.000000           46142.600000

       Finnock number  Finnock weight (kg)  Farmed MSW number  \
count    23140.000000         23140.000000       23140.000000
mean         0.002766             0.002182           0.097623
std          0.087664             0.076901           1.763693
min          0.000000             0.000000           0.000000
25%          0.000000             0.000000           0.000000
50%          0.000000             0.000000           0.000000
75%          0.000000             0.000000           0.000000
max          5.000000             5.700000         129.000000

       Farmed MSW weight (kg)  Farmed 1SW number  Farmed 1SW weight (kg)  \
count            23140.000000       23140.000000            23140.000000
mean                 0.425190           0.109594                0.282239
std                  8.164855           2.221477                6.221872
min                  0.000000           0.000000                0.000000
25%                  0.000000           0.000000                0.000000
50%                  0.000000           0.000000                0.000000
75%                  0.000000           0.000000                0.000000
max                621.800000         209.000000              639.600000

       Netting effort
count    23140.000000
mean        24.137878
std        146.277418
min          0.000000
25%          1.000000
50%          3.000000
75%          8.000000
max       2215.000000